* {
  text-decoration: none;
  list-style-type: none; }

.content-section {
  padding: 100px 0; }

.text-center {
  text-align: center; }

a {
  color: #fff;
  outline: none; }

ul {
  padding: 0;
  margin: 0; }

label {
  position: absolute;
  right: 0;
  min-width: 100%;
  height: 100%; }

body {
  font-family: sans-serif;
  margin: 0; }

header {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.1) 100%), url(../img/bg-masthead.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

.menu-toggle {
  background: rgba(52, 58, 64, 0.5);
  border-radius: 5px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 15px;
  text-align: center;
  right: 15px;
  width: 50px;
  z-index: 999;
  transition: all 0.3s; }
  .menu-toggle:hover {
    background-color: #343a40; }
  .menu-toggle i {
    display: inline-block; }
  .menu-toggle i.fa-times {
    display: none; }

#sideabar-wrapper {
  background: #1d809f;
  position: fixed;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 250px;
  transform: translateX(250px);
  transition: all 0.5s; }
  #sideabar-wrapper li {
    margin: 20px 0;
    padding: 20px; }
    #sideabar-wrapper li:hover {
      background-color: #73b0c3; }
  #sideabar-wrapper li:first-child {
    background: rgba(52, 58, 64, 0.1);
    line-height: 40px;
    margin-top: 0; }

#trigger:checked ~ #sideabar-wrapper {
  transform: translateX(0); }

.banner {
  text-align: center;
  padding-top: 300px;
  line-height: 40px;
  padding-right: 15px;
  padding-left: 15px; }
  .banner h1 {
    font-size: 80px;
    font-weight: 700; }
  .banner h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 60px; }

.find-more {
  padding: 25px 40px;
  background-color: #1d809f;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  transition: all 0.3s; }
  .find-more:hover, .find-more:focus {
    background-color: #155d74; }

.unsplash {
  line-height: 40px; }
  .unsplash h2 {
    font-size: 30px;
    font-weight: 700; }
  .unsplash p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px; }
    .unsplash p a {
      color: #1d809f;
      outline: none;
      font-weight: 500; }
      .unsplash p a:hover, .unsplash p a:focus {
        text-decoration: underline; }
  .unsplash .offer {
    background-color: #343a40;
    border-radius: 5px;
    font-weight: 700;
    padding: 22px 40px;
    transition: all 0.3s; }
    .unsplash .offer:hover {
      background-color: #26292d; }
    .unsplash .offer:focus {
      border: 3px solid #5d656d;
      transition: all 0.3s; }
