* {
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

.content-section {
  padding: 100px 0;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;

}

a {
  color: #fff;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

label {
  position: absolute;
  right: 0;
  min-width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
}




header {
  background: linear-gradient(90deg,
  rgba(255,255,255,.1) 0,
  rgba(255,255,255,.1) 100%),
  url(../img/bg-masthead.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;


}

.menu-toggle {
  background: rgba(52,58,64,.5);
  border-radius: 5px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 15px;
  text-align: center;
  right: 15px;
  width: 50px;
  z-index: 999;
  transition: all 0.3s;

  &:hover {
    background-color: #343a40;
  }


  i {
    display: inline-block;
  }

  i.fa-times {
    display: none;
  }
}

#sideabar-wrapper {
  background: #1d809f;
  position: fixed;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 250px;
  transform: translateX(250px);
  transition: all 0.5s;

  li {
    margin: 20px 0;

    &:hover {
      background-color: #73b0c3;
    }
  }


  li:first-child {
    background: rgba(52,58,64,.1);
    line-height: 40px;
    margin-top: 0;
  }

  a {
    display: block;
    padding: 15px;
  }
}

#trigger:checked ~ #sideabar-wrapper {
  transform: translateX(0);
}

#trigger:checked ~ .menu-toggle > i.fa-bars {
  display: none;
}

#trigger:checked ~ .menu-toggle > i.fa-times {
  display: inline-block;
}



.banner {
  text-align: center;
  padding-top: 300px;
  line-height: 40px;
  padding-right: 15px;
  padding-left: 15px;

  h1 {
    font-size: 80px;
    font-weight: 700;
  }

  h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 60px;
  }
}

.find-more {
  padding: 25px 40px;
  background-color: #1d809f;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: #155d74;
  }

}
// end of header



#about {
  line-height: 40px;

  h2 {
    font-size: 30px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 30px;

    a {
      color: #1d809f;
      outline: none;
      font-weight: 500;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .offer {
    background-color: #343a40;
    border-radius: 5px;
    font-weight: 700;
    padding: 22px 40px;
    transition: all 0.3s;

    &:hover {
      background-color: #26292d;
    }

    &:focus {
      border: 3px solid #5d656d;
      transition: all 0.3s;
    }
  }
}





//

#services {
  background-color: #1d809f;
  color: #fff;

  h2 {
    font-size: 45px;
    font-weight: 700;
  }

  h3 {
    font-size: 18px;
    color: #ecb807;
    font-weight: 600;
  }

  p {
    color: rgba(255,255,255,.7);
  }

  i {
    color: #1d809f;
    font-size: 25px;

  }


}

.rounded-circle {
  display: inline-block;
  background-color: #fff;
  padding: 40px 43px;
  border-radius: 100px;
}

//




.portfolio-item {
  display: block;
  position: relative;
  max-width: 530px;
  overflow: hidden;
  margin: auto auto 20px;
  transition: all 0.3s;

  .caption {
    z-index: 2;
  }

  img {
    -webkit-transition: -webkit-clip-path .25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px)
  }

  &:hover > .caption .caption-content {

    h2, p {
      font-weight: 900;
      font-size: 17px;
    }
  }

  &:hover img {
    background: rgba(51, 170, 51, .1);
    -webkit-clip-path: inset(20px);
        clip-path: inset(20px);

  }


}


.caption-content {
  bottom: 20%;
  padding: 0 15px 0 40px;
  position: absolute;
  width: 100%;
  z-index: 1;

  h2  {
    font-weight: 700;
    font-size: 14px;
    transition: all 0.5s;
  }

  p {
    font-weight: 300;
    font-size: 15px;
    transition: all 0.5s;
  }
}











//
